.alert-box-location
  #game-win.alert-box
    h6.text-center
      | All words guessed! Nice!
  #game-start.alert-box
    h6.text-center
      | New game started!
  #skip-word.alert-box
    h6.text-center
      | Word skipped!
  #game-over.alert-box
    h6.text-center
      | Game over!
  #disconnect-game-over.alert-box
    h6.text-center
      | Drawer disconnected! Game Over!
  #time-out.alert-box
    h6.text-center
      | Time's up!
  #no-wordlist-selected.alert-box
    h6.text-center
      | Must select at least 1 word list!
  #correct-guess-box.alert-box
    h6#correct-guess.text-center
