.col-2
  #user-list-box
    ul#user-list
.col-10
  .row
    .col
      form#message-form
        .input-group
          input#chat-m.form-control(autocomplete='off', placeholder='Talk to the room!')
          button#chat-button.btn.btn-primary Send
  .row
    #chat-box
      ul#chat-messages
