.col-2
  .row
    .col
      button#skip.btn.btn-sm.btn-secondary
        | Skip  
        i.fas.fa-forward
.col-8
  .colors.d-flex.justify-content-center
    .color.black
    .color.red
    .color.green
    .color.blue
    .color.yellow
    .color.orange
    .color.purple
    .color.pink
    .color.brown
    .color.white
    .color.eraser(data-toggle='tooltip', data-placement='bottom', title='Eraser')
      i.fas.fa-eraser
.col-2
  .row
    .col
      button#clear.float-right.btn.btn-sm.btn-secondary
        | Clear  
        i.fas.fa-backspace
