#guess-container.col-sm
  .row
    #guess-area
      #guess-box
        ul#guess-messages

  .row
    .col
      form#guess-form
        .input-group
          input#guess-m.form-control(autocomplete='off', maxlength=40, placeholder='Enter your guess')
          button#guess-button.btn.btn-primary Send
