.row
  #guess-area
    #guess-box
      ul#guess-messages

.row
  .col
    form#guess-form
      .input-group
        input#guess-m.form-control(autocomplete='off', placeholder='Enter your guess')
        button#guess-button.btn.btn-primary Send
