#name-modal.modal.fade(aria-hidden='true', aria-labelledby='name-modal')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5.modal-title
          | User Settings
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        form#name-modal-form
          .form-group.mx-sm-2
            label(for="name-modal-input") What name would you like to go by?
            input#name-modal-input.form-control(autocomplete='off', placeholder='Not Bronco')

          .form-group
            label(for='user-icon') Pick an icon for yourself
            .col.icon-box
              .row.justify-content-center
                <div id="435" class="emoji">&#x1F435</div>
                <div id="412" class="emoji">&#x1F412</div>
                <div id="98D" class="emoji">&#x1F98D</div>
                <div id="436" class="emoji">&#x1F436</div>
                <div id="415" class="emoji">&#x1F415</div>
                <div id="429" class="emoji">&#x1F429</div>
              .row.justify-content-center
                <div id="43A" class="emoji">&#x1F43A</div>
                <div id="98A" class="emoji">&#x1F98A</div>
                <div id="431" class="emoji">&#x1F431</div>
                <div id="408" class="emoji">&#x1F408</div>
                <div id="981" class="emoji">&#x1F981</div>
                <div id="42F" class="emoji">&#x1F42F</div>
              .row.justify-content-center
                <div id="405" class="emoji">&#x1F405</div>
                <div id="406" class="emoji">&#x1F406</div>
                <div id="434" class="emoji">&#x1F434</div>
                <div id="40E" class="emoji">&#x1F40E</div>
                <div id="984" class="emoji">&#x1F984</div>
                <div id="993" class="emoji">&#x1F993</div>
              .row.justify-content-center
                <div id="98C" class="emoji">&#x1F98C</div>
                <div id="42E" class="emoji">&#x1F42E</div>
                <div id="402" class="emoji">&#x1F402</div>
                <div id="403" class="emoji">&#x1F403</div>
                <div id="404" class="emoji">&#x1F404</div>
                <div id="437" class="emoji">&#x1F437</div>
              .row.justify-content-center
                <div id="416" class="emoji">&#x1F416</div>
                <div id="417" class="emoji">&#x1F417</div>
                <div id="43D" class="emoji">&#x1F43D</div>
                <div id="40F" class="emoji">&#x1F40F</div>
                <div id="411" class="emoji">&#x1F411</div>
                <div id="410" class="emoji">&#x1F410</div>
              .row.justify-content-center
                <div id="42A" class="emoji">&#x1F42A</div>
                <div id="42B" class="emoji">&#x1F42B</div>
                <div id="992" class="emoji">&#x1F992</div>
                <div id="418" class="emoji">&#x1F418</div>
                <div id="98F" class="emoji">&#x1F98F</div>
                <div id="42D" class="emoji">&#x1F42D</div>
              .row.justify-content-center
                <div id="401" class="emoji">&#x1F401</div>
                <div id="400" class="emoji">&#x1F400</div>
                <div id="439" class="emoji">&#x1F439</div>
                <div id="430" class="emoji">&#x1F430</div>
                <div id="407" class="emoji">&#x1F407</div>
                <div id="43F" class="emoji">&#x1F43F</div>
              .row.justify-content-center
                <div id="994" class="emoji">&#x1F994</div>
                <div id="987" class="emoji">&#x1F987</div>
                <div id="43B" class="emoji">&#x1F43B</div>
                <div id="428" class="emoji">&#x1F428</div>
                <div id="43C" class="emoji">&#x1F43C</div>
                <div id="43E" class="emoji">&#x1F43E</div>
              .row.justify-content-center
                <div id="983" class="emoji">&#x1F983</div>
                <div id="414" class="emoji">&#x1F414</div>
                <div id="413" class="emoji">&#x1F413</div>
                <div id="423" class="emoji">&#x1F423</div>
                <div id="424" class="emoji">&#x1F424</div>
                <div id="425" class="emoji">&#x1F425</div>
              .row.justify-content-center
                <div id="426" class="emoji">&#x1F426</div>
                <div id="427" class="emoji">&#x1F427</div>
                <div id="54A" class="emoji">&#x1F54A</div>
                <div id="985" class="emoji">&#x1F985</div>
                <div id="986" class="emoji">&#x1F986</div>
                <div id="989" class="emoji">&#x1F989</div>
              .row.justify-content-center
                <div id="438" class="emoji">&#x1F438</div>
                <div id="40A" class="emoji">&#x1F40A</div>
                <div id="422" class="emoji">&#x1F422</div>
                <div id="98E" class="emoji">&#x1F98E</div>
                <div id="40D" class="emoji">&#x1F40D</div>
                <div id="432" class="emoji">&#x1F432</div>
              .row.justify-content-center
                <div id="409" class="emoji">&#x1F409</div>
                <div id="995" class="emoji">&#x1F995</div>
                <div id="996" class="emoji">&#x1F996</div>
                <div id="433" class="emoji">&#x1F433</div>
                <div id="40B" class="emoji">&#x1F40B</div>
                <div id="42C" class="emoji">&#x1F42C</div>
              .row.justify-content-center
                <div id="41F" class="emoji">&#x1F41F</div>
                <div id="420" class="emoji">&#x1F420</div>
                <div id="421" class="emoji">&#x1F421</div>
                <div id="988" class="emoji">&#x1F988</div>
                <div id="419" class="emoji">&#x1F419</div>
                <div id="41A" class="emoji">&#x1F41A</div>
              .row.justify-content-center
                <div id="980" class="emoji">&#x1F980</div>
                <div id="990" class="emoji">&#x1F990</div>
                <div id="991" class="emoji">&#x1F991</div>
                <div id="40C" class="emoji">&#x1F40C</div>
                <div id="98B" class="emoji">&#x1F98B</div>
                <div id="41B" class="emoji">&#x1F41B</div>
              .row.justify-content-center
                <div id="41C" class="emoji">&#x1F41C</div>
                <div id="41D" class="emoji">&#x1F41D</div>
                <div id="41E" class="emoji">&#x1F41E</div>
                <div id="997" class="emoji">&#x1F997</div>
                <div id="577" class="emoji">&#x1F577</div>
                <div id="982" class="emoji">&#x1F982</div>
          button.btn.btn-primary(data-dismiss='modal') That's me!

