#name-modal.modal.fade(aria-hidden='true', aria-labelledby='name-modal')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5.modal-title
          | User Settings
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        form#name-modal-form
          .form-group.mx-sm-2
            label(for="name-modal-input") What name would you like to go by?
            input#name-modal-input.form-control(autocomplete='off', placeholder='Not Bronco')

          .form-group
            label(for='user-icon') Pick an icon for yourself (or one will be provided for you if you do not)
            .col.icon-box
              .row.justify-content-center
                #435.emoji &#x1F435
                #412.emoji &#x1F412
                #98D.emoji &#x1F98D
                #436.emoji &#x1F436
                #415.emoji &#x1F415
                #429.emoji &#x1F429
              .row.justify-content-center
                #43A.emoji &#x1F43A
                #98A.emoji &#x1F98A
                #431.emoji &#x1F431
                #408.emoji &#x1F408
                #981.emoji &#x1F981
                #42F.emoji &#x1F42F
              .row.justify-content-center
                #405.emoji &#x1F405
                #406.emoji &#x1F406
                #434.emoji &#x1F434
                #40E.emoji &#x1F40E
                #984.emoji &#x1F984
                #993.emoji &#x1F993
              .row.justify-content-center
                #98C.emoji &#x1F98C
                #42E.emoji &#x1F42E
                #402.emoji &#x1F402
                #403.emoji &#x1F403
                #404.emoji &#x1F404
                #437.emoji &#x1F437
              .row.justify-content-center
                #416.emoji &#x1F416
                #417.emoji &#x1F417
                #43D.emoji &#x1F43D
                #40F.emoji &#x1F40F
                #411.emoji &#x1F411
                #410.emoji &#x1F410
              .row.justify-content-center
                #42A.emoji &#x1F42A
                #42B.emoji &#x1F42B
                #992.emoji &#x1F992
                #418.emoji &#x1F418
                #98F.emoji &#x1F98F
                #42D.emoji &#x1F42D
              .row.justify-content-center
                #401.emoji &#x1F401
                #400.emoji &#x1F400
                #439.emoji &#x1F439
                #430.emoji &#x1F430
                #407.emoji &#x1F407
                #43F.emoji &#x1F43F
              .row.justify-content-center
                #994.emoji &#x1F994
                #987.emoji &#x1F987
                #43B.emoji &#x1F43B
                #428.emoji &#x1F428
                #43C.emoji &#x1F43C
                #43E.emoji &#x1F43E
              .row.justify-content-center
                #983.emoji &#x1F983
                #414.emoji &#x1F414
                #413.emoji &#x1F413
                #423.emoji &#x1F423
                #424.emoji &#x1F424
                #425.emoji &#x1F425
              .row.justify-content-center
                #426.emoji &#x1F426
                #427.emoji &#x1F427
                #54A.emoji &#x1F54A
                #985.emoji &#x1F985
                #986.emoji &#x1F986
                #989.emoji &#x1F989
              .row.justify-content-center
                #438.emoji &#x1F438
                #40A.emoji &#x1F40A
                #422.emoji &#x1F422
                #98E.emoji &#x1F98E
                #40D.emoji &#x1F40D
                #432.emoji &#x1F432
              .row.justify-content-center
                #409.emoji &#x1F409
                #995.emoji &#x1F995
                #996.emoji &#x1F996
                #433.emoji &#x1F433
                #40B.emoji &#x1F40B
                #42C.emoji &#x1F42C
              .row.justify-content-center
                #41F.emoji &#x1F41F
                #420.emoji &#x1F420
                #421.emoji &#x1F421
                #988.emoji &#x1F988
                #419.emoji &#x1F419
                #41A.emoji &#x1F41A
              .row.justify-content-center
                #980.emoji &#x1F980
                #990.emoji &#x1F990
                #991.emoji &#x1F991
                #40C.emoji &#x1F40C
                #98B.emoji &#x1F98B
                #41B.emoji &#x1F41B
              .row.justify-content-center
                #41C.emoji &#x1F41C
                #41D.emoji &#x1F41D
                #41E.emoji &#x1F41E
                #997.emoji &#x1F997
                #577.emoji &#x1F577
                #982.emoji &#x1F982
          button.btn.btn-primary(data-dismiss='modal') That's me!

