#rules-modal.modal.fade(aria-hidden='true', aria-labelledby='rules-modal')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h4.modal-title How to play
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body.rules-modal-body
        .row
          .col
            p
              | When you hit 'Start Game', you will (by default) get a list of 10 words to draw in 2 minutes. You adjust these parameters in the game options section by clicking on the cog wheel.
            p
              | The other people in the room need to try to guess the word. Spelling counts, but capitalization and symbols/spaces do not.
            ul.list-group.rules-modal-example
              li.list-group-item
                | For example, "michaeljackson" is a correct guess for "Michael Jackson".
              li.list-group-item
                | Extra characters are ok, too. For example "a bunch of bees" is a correct guess for "bee".
            p
              | As the person drawing, if a guess is close you can click on their message in the guessing box to highlight it to let the guesser(s) know they are on the right track.
            p That's it, good luck!
        button.btn.btn-primary(data-dismiss='modal') Got it!
