.col-1.team-1
  .row.team-1-header.justify-content-center
    h5 Team 1

  each seatId in ["seat-1", "seat-2", "seat-3", "seat-4"]
    .row.justify-content-center.seat-row
      include ../templates/empty_seat.pug
