.col-1.team-2
  .row.team-2-header.justify-content-center
    h5 Team 2

  each seatId in ["seat-5", "seat-6", "seat-7", "seat-8"]
    .row.justify-content-center.seat-row
      include ../templates/empty_seat.pug
