.col-1.team-2
  .row.team-2-header.justify-content-center
    h5 Team 2

  .row.justify-content-center
    #seat-5.seat.empty-seat.d-flex.justify-content-center(data-toggle="tooltip" title="Sit")
      i.fas.fa-times-circle.leave-seat
      span.sit Sit&nbsp;
        i.fas.fa-chair
  .row.justify-content-center
    #seat-6.seat.empty-seat.d-flex.justify-content-center(data-toggle="tooltip" title="Sit")
      i.fas.fa-times-circle.leave-seat
      span.sit Sit&nbsp;
        i.fas.fa-chair
  .row.justify-content-center
    #seat-7.seat.empty-seat.d-flex.justify-content-center(data-toggle="tooltip" title="Sit")
      i.fas.fa-times-circle.leave-seat
      span.sit Sit&nbsp;
        i.fas.fa-chair
  .row.justify-content-center
    #seat-8.seat.empty-seat.d-flex.justify-content-center(data-toggle="tooltip" title="Sit")
      i.fas.fa-times-circle.leave-seat
      span.sit Sit&nbsp;
        i.fas.fa-chair
