.col-1.team-1
  .row.team-1-header.justify-content-center
    h5 Team 1

  .row.justify-content-center
    #seat-1.seat.empty-seat.d-flex.justify-content-center(data-toggle="tooltip" title="Sit")
      i.fas.fa-times-circle.leave-seat
      span.sit Sit&nbsp;
        i.fas.fa-chair
  .row.justify-content-center
    #seat-2.seat.empty-seat.d-flex.justify-content-center(data-toggle="tooltip" title="Sit")
      i.fas.fa-times-circle.leave-seat
      span.sit Sit&nbsp;
        i.fas.fa-chair
  .row.justify-content-center
    #seat-3.seat.empty-seat.d-flex.justify-content-center(data-toggle="tooltip" title="Sit")
      i.fas.fa-times-circle.leave-seat
      span.sit Sit&nbsp;
        i.fas.fa-chair
  .row.justify-content-center
    #seat-4.seat.empty-seat.d-flex.justify-content-center(data-toggle="tooltip" title="Sit")
      i.fas.fa-times-circle.leave-seat
      span.sit Sit&nbsp;
        i.fas.fa-chair
