.filled-seat.d-flex.justify-content-center(data-toggle="tooltip", title=username, id=seatId)
  - if (mySeat)
    .i.fas.fa-times-circle.leave-seat

  span.taken !{usericon}
  .username-in-seat.justify-content-center= truncatedUsername
